name: UI Automation - Blog do Agi

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  tests:
    name: Run UI Tests
    runs-on: ubuntu-latest

    timeout-minutes: 30

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4


      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: gradle


      - name: Grant execute permission for Gradle
        run: chmod +x gradlew


      - name: Run tests
        run: ./gradlew clean test
        env:
          TZ: America/Sao_Paulo


      - name: Generate Allure Report
        run: ./gradlew allureReport
        if: always()


      - name: Upload Allure Report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: allure-report
          path: build/reports/allure-report


      - name: Upload Allure Results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: allure-results
          path: build/allure-results
